.App {
    text-align: center;
}

.main-cont {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retry-cont{
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-form{
    display: flex;
    flex-direction: column;
}

.form-child{
    margin-bottom: 15px;
}

.text{
    font-family: Montserrat, serif;
    font-size: 40px;
    font-weight: bold;
}

.inp{
    height: 40px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255, 0.9);
    border: 0;
    transition: 0.3s all;

    font-family: Montserrat, serif;
    font-size: 20px;
}

.inp:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}

.credits{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, serif;
}
